doctype html
html
	block head
		title= title
		link(rel="stylesheet", href="/stylesheets/style.css")
		script(src="/socket.io/socket.io.js")
		script(src="/javascripts/resistance.js")
		script(src="/libraries/prototype.js")<!-- DEPRECATED -->
		script(src="/libraries/scriptaculous.js")<!-- DEPRECATED -->
		
	body
		div#main_header
			h1= title
			button(name="btn_home", onclick="location.href='/';", text="Home") Home
			button(name="btn_debug", onclick="location.href='/debug';", text="Debug") Debug		
		hr(class="hr1")
		block content