doctype html
html
	block head
		title= title
		link(rel="stylesheet", href="/stylesheets/style.css")
	body
		div#main_header
			h1= title
			button(name="btn_home", onclick="location.href='/';", text="Home") Home
			button(name="btn_chat", onclick="location.href='/chat';", text="Chat") Chat			
		hr(class="hr1")
		block content